*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{   background-color: blue;   }

.container{
    position: absolute;
    max-width: 32em;
    width: 90vw;
    top: 50%;       left: 50%;
    background-color: #fff;
    padding: 3em 2.8em;
    font-size: 16px;
    border-radius: .6em;
    transform: translate(-50%, -50%);
}

button{
    cursor: pointer;
    transition: .2s all;
}
button:active{  transform: scale(.8);   }

.search{
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}

.search input{
    border: none;
    border-bottom: 2px solid #202030;
    text-align: center;
    font-size: 1.1em;
    text-transform: capitalize;
    outline: none;
}

.search button{
    padding: 7px;
    font-size: 1em;
    background-color: blue;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: .3em;
}

img{
    width: 50%;
    display: block;
    margin: 1.8em auto 0 auto;
}

.details{
    position: relative;
    background-color: blue;
    color: #fff;
    margin: -2.3em 0 0 0;
    text-align: center;
    padding: .6em 0;
}

.details h2{
    font-size: 1.2em;
    font-weight: 600;
}

.details h4{
    font-size: 1em;
    font-weight: 400;
}

#show-recipe{
    position: relative;
    font-weight: 600;
    font-size: 1em;
    top: 1.5em;
    left: 75%;
    padding: .9em .6em;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: .3em;
}

#recipe{
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: none;
    top: 0;     left: 0;
    background-color: #fff;
    border-radius: .6em;
    z-index: 2;
}

#recipe pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2.5em 1.2em 1.2em 1.2em;
    font-size: .92em;
    color: #000;
}

#hide-recipe{
    position: relative;
    width: 1.8em;
    top: 1.2em;     left: 90%;
    height: 1.8em;
    font-size: 1em;
    font-weight: bold;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: .3em;
}

ul{
    position: relative;
    display: grid;
    font-size: 1em;
    font-weight: bold;
    grid-template-columns: auto auto;
    gap: .8em 1.1em;
    padding: 1.2em 0 0 1.2em;
    color: #000;
    text-transform: capitalize;
}

h3{
    text-align: center;
    margin-top: 1.8em;
    color: #202030;
}


@media screen and (max-width: 500px){
    .container{   font-size: 14px;   }
}